body {
background-color: #d2b48c;
margin-left: 20%;
margin-right : 20%;
border: lpx dotted gray;
padding: l0px l0px l0px l0px;
font-family : sans- serif;}

/*
h1 {
background-color: #d2b48c;
margin-left: 20%;
margin-right : 20%;
border: lpx dotted gray;
padding: l0px l0px l0px l0px;
font-family : sans- serif;
}*/
