<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Discurso del borracho</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<style type="text/css">
    body {
    background-color: #d2b48c;
    margin-left: 20%;
    margin-right : 20%;
    border: lpx dotted gray;
    padding: lOpx lOpx lOpx lOpx;
    font-family : sans- serif;
    </style>-->

    <!--    <link rel = "stylesheet" href = "MyStyle.css">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigationOne(Home)}"/>
    <div th:replace="~{navigation :: navigationTwo(Home)}"/>
    <div th:replace="~{navigation :: navigationThree(Home)}"/>

    <div class="row">
        <div class="col">
            <p/>
            <p/>
            <p/>
            <h2>
                <p>Discurso del sabio borracho después del Año Nuevo Viejo</p>
                <p>Речь опьяневшего мудреца после Старого Нового Года</p>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><span th:text="${'Antes de nada, '+expresList.get(0)}"/></p>
            <p><span th:text="${'Прежде всего, '+expresList.get(1)}"/></p>
            <p><span th:text="${'Además, '+expresList.get(2)}"/></p>
            <p><span th:text="${'С другой стороны, '+expresList.get(3)}"/></p>
            <p><span th:text="${'Para concluir, '+expresList.get(4)}"/></p>
            <p><span th:text="${'В заключение, '+expresList.get(5)}"/></p>
        </div>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>